body
{
    background: rgb(0, 0, 0);
    font: normal 15px Arial;
}

header
{
    color: white;
    text-align: center;
}

section
{
    background: white;

    /*bordas arredondadas/raio da borda (radius.raio)*/
    border-radius: 10px;

    /*padding aumenta o tamanho da caixa de texto*/
    padding: 50px;

    /*largura fixa*/
    width: 500px;

    /* centralizar na tela */
    margin: auto;

    /*centralizar texto*/
    text-align: center;

    /*deixar com sombra*/
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
}

footer
{
    color: white;
    text-align: center;
    
    /*tipo da fonte*/
    font-style: italic;
    text-shadow: 2px 2px 8px rgba(255, 94, 0, 0.774);
}